<div class="container-fluid">
  <div class="row d-none">
    <input
      class="col-6"
      type="file"
      name="fileFeed"
      id="fileFeed"
      (change)="setarBackground($event.target)"
    />
  </div>

  <div class="row" style="margin-top: 50px">
    <mat-form-field class="col-4">
      <mat-label>Cidade</mat-label>
      <input (keyup)="onCidade()" matInput [formControl]="cidade" />
    </mat-form-field>

    <mat-form-field class="col-4">
      <mat-label>Sub Titulo</mat-label>
      <input (keyup)="onSubTitulo()" matInput [formControl]="subTitulo" />
    </mat-form-field>

    <mat-form-field class="col-4">
      <mat-label>Data</mat-label>
      <input (keyup)="onData()" matInput [formControl]="data" />
    </mat-form-field>

    <mat-form-field class="col-4">
      <mat-label>Valor </mat-label>
      <input matInput [formControl]="valor" />
    </mat-form-field>

    <mat-form-field class="col-12 w-100">
      <textarea rows="8" matInput [formControl]="textBox"></textarea>
    </mat-form-field>

    <div class="col-12 d-flex justify-content-center">
      <button
        mat-raised-button
        [color]="'primary'"
        class="d-flex justify-content-center mb-4 mt-4 pl-4 pr-4"
        style="min-width: 250px"
        (click)="imprimirStories()"
      >
        Imprimir lamina
      </button>

      <button
        mat-raised-button
        [color]="'primary'"
        class="d-flex justify-content-center mb-4 mt-4 pl-4 pr-4"
        style="min-width: 250px"
        (click)="abrirFiles()"
      >
        Escolher imagem
      </button>
    </div>

    <!-- (click)="abrirFiles()" -->
  </div>

  <div
    style="
      border: 1px solid;
      overflow: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: blue;
      padding-top: 50px;
      padding-bottom: 50px;
    "
  >
    <div
      style="
        height: 1920px;
        width: 1080px;
        position: relative;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
      "
      class="lamina__wrapper m-0"
      id="story"
      #screen
      for="fileFeed"
      [ngStyle]="{ 'background-image': bgImage ? 'url(' + bgImage + ')' : '' }"
    >
      <div class="controls text-center position-absolute width-100 p-16">
        <div>
          <button
            class="btn btn-primary mr-16"
            (click)="setPositionY('story', 'menos')"
          >
            <i class="fas fa-arrow-up"></i>
          </button>
        </div>

        <div class="d-flex justify-content-around w-100">
          <button
            class="btn btn-primary mr-16"
            (click)="setPosition('story', 'menos')"
          >
            <i class="fas fa-arrow-left"></i>
          </button>

          <button
            class="btn btn-primary"
            (click)="setPosition('story', 'mais')"
          >
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>

        <button class="btn btn-primary" (click)="setPositionY('story', 'mais')">
          <i class="fas fa-arrow-down"></i>
        </button>
      </div>

      <div class="h-100 position-relative">
        <div class="title">
          <div
            class="title--header"
            style="text-transform: uppercase"
            [ngStyle]="{ 'font-size': headerFontSize }"
          >
            {{ cidade.value }}
          </div>

          <div
            class="title--sub white"
            style="text-transform: uppercase"
            [ngStyle]="{ 'font-size': fontSizeSubTitulo }"
          >
            {{ subTitulo.value }}
          </div>

          <div
            class="data"
            style="text-transform: uppercase"
            [ngStyle]="{ 'font-size': fontSizeData }"
          >
            {{ data.value }}
          </div>
        </div>

        <div class="total" style="text-transform: uppercase">
          {{ valor.value }}
        </div>

        <img
          class="card-img"
          src="./assets/images/card-principal-2.png"
          alt=""
        />

        <div class="origem">
          <p>VÔO SAINDO DE</p>
          <h4>CAMPO GRANDE (MS)</h4>
        </div>

        <!-- BOTTOM -->
        <div class="bottom white pt-3">
          <p
            style="text-transform: uppercase; white-space: break-spaces"
            [innerHTML]="textBox.value"
          ></p>
        </div>
      </div>

      <img
        style="position: absolute; bottom: 0; left: 0"
        src="./assets/images/bot.png"
      />
    </div>
  </div>

  <div id="download" style="display: none">
    <img #canvas />
    <a #downloadLink></a>
  </div>
</div>
